# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
merchant-shop/node_modules
ui/node_modules
api/node_modules
merchant-shop/.pnp
ui/.pnp
api/.pnp

# testing
merchant-shop/coverage

# production
merchant-shop/build
ui/build
api/build

api/build
api/.build
api/.serverless
api/.dynamodb
api/.webpack

**/node_modules/**
**/build/**

# misc
.DS_Store
merchant-shop/.env.local
ui/.env.local
merchant-shop/.env.development.local
ui/.env.development.local
.env.test.local
merchant-shop/.env.production.local

merchant-shop/npm-debug.log*
merchant-shop/yarn-debug.log*
merchant-shop/yarn-error.log*
